@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Playfair+Display');

.menu-trigger {
	position: relative;
	margin-bottom: 50px;
	margin-left: -20px;
	padding: 0 20px;
	background: none;
	color: #fff;
	background-color: #000;
	border-radius: 25px;
	border: 0;
	grid-area: menu;
	justify-self: start;
	align-self: end;
	cursor: pointer;
	pointer-events: auto;
	font-size: 3rem;
	filter: drop-shadow(5px 5px 5px black);
	animation: beat 2s 20s infinite;
}

@keyframes beat {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}


@media (max-width: 1080px) {
	.menu-trigger {
		transform: rotate(90deg);
		animation: beat2 2s 20s infinite;
	}

	@keyframes beat2 {
		0% {
			transform: rotate(90deg) scale(1);
		}

		50% {
			transform: rotate(90deg) scale(1.1);
		}

		100% {
			transform: rotate(90deg) scale(1);
		}
	}
}


.menu-trigger--close {
	font-size: 1.5rem;
	color: #000;
	align-self: center;
	background: none;
	border: 0;
	grid-area: menu;
	cursor: pointer;
	pointer-events: auto;
	filter: drop-shadow(5px 5px 5px black);
}

.content--switch {
	background-size: cover;
}

#content-1 {
	background-color: beige;
}

#home_button {
	font-size: 3rem;
}

#mobile {
	display: block;
}

#desktop {
	display: none;
}

@media (orientation: landscape) {
	#mobile {
		display: none;
	}

	#desktop {
		display: block;
	}
}

.video-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content__title {
	color: white;
	font-family: 'Cormorant Garamond', serif;
	font-size: 3rem;
	text-align: center;
	z-index: 1;
}

.content__subtitle {
	color: white;
	width: 80%;
	max-width: 768px;
	z-index: 1;
	font-size: 1.25rem;
	line-height: 1.5;
	text-align: center;
	overflow-y: auto;
}

.content__subtitle::-webkit-scrollbar {
	width: 5px;
}

.content__subtitle::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

.content__subtitle::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

.content__subtitle::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

.content__gallery {
	color: white;
	width: 100%;
	z-index: 1;
	font-size: 1.25rem;
	line-height: 1.5;
	text-align: center;
	overflow-y: auto;
}

.content__gallery::-webkit-scrollbar {
	width: 5px;
}

.content__gallery::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

.content__gallery::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

.content__gallery::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

/* #content-2 {
	background-image: url(../img/bg1.jpg);
	background-position: 45%;
	background-repeat: no-repeat;
	background-size: cover;
} */

#content-3 {
	background-image: url(../img/bg2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#content-3::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

@media (orientation: portrait) {
	#content-3.content {
		justify-content: flex-start;
	}
}

.form {
	width: 100%;
	height: auto;
	min-height: 700px;
	max-width: 640px;
	margin-top: 30px;
	z-index: 1;
}



#content-4 {
	background-image: url(../img/bg3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#content-4::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

.clo_link {
	min-width: 250px;
	border-radius: 25px;
	box-shadow: 10px 10px 10px black;
	background: linear-gradient(to bottom, #92af8f, #355540);
	color: white;
	font-size: 1.25rem;
	padding: 7.5px;
}

.clo_link:hover {
	color: #000;
}

#content-5 {
	background-image: url(../img/bg4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#content-5::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

.map {
	min-width: 250px;
	border-radius: 25px;
	box-shadow: 10px 10px 10px black;
	background: linear-gradient(to bottom, #efb687, #a97822);
	color: white;
	font-size: 1.25rem;
	padding: 7.5px;
}

.map:hover {
	color: #000;
}

#content-6 {
	overflow: hidden;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#content-6 img {
	height: auto;
	height: 100vh;
	/* width: 100vw; */
	position: absolute;
	transition: opacity 1s ease-in-out;
	animation-name: opacity;
	animation-duration: 4s;
}

#brightness_photo {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	filter: opacity(0.5);
	z-index: 1;
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.content-6_title {
	padding: 0 0 0 50vw !important;
}

@media (orientation: landscape) {
	.content-6_title {
		padding: 0 1rem !important;
	}
}

#abus {
	max-height: 35vh;
	overflow-x: hidden;
}

.abus_text {
	transition: opacity 2s;
}

#hide {
	position: relative;
	height: 50px;
	width: 100px;
	margin: 25px auto;
	background-image: url("../img/eye2.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	z-index: 1;
}

#show {
	display: none;
	position: relative;
	height: 50px;
	width: 100px;
	margin: 25px auto;
	background-image: url("../img/eye.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	z-index: 1;
}

.grim {
	display: grid;
	position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	grid-template-columns: repeat(32, 3.125vw);
	grid-template-rows: repeat(32, 3.125vh);
	pointer-events: none;
}

.grim--open {
	pointer-events: auto;
}

.grim__item {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grim__item:first-child {
	grid-area: 30 / 1 / 33 / 11;
}

.grim__item:nth-child(2) {
	grid-area: 27 / 1 / 30 / 11;
}

.grim__item:nth-child(3) {
	grid-area: 27 / 11 / 33 / 33;
}

.grim__item:nth-child(4) {
	grid-area: 16 / 1 / 27 / 11;
}

.grim__item:nth-child(5) {
	grid-area: 16 / 11 / 27 / 22;
}

.grim__item:nth-child(6) {
	grid-area: 16 / 22 / 27 / 33;
}

.grim__item:nth-child(7) {
	grid-area: 1 / 1 / 16 / 33;
}

@media (orientation: landscape) {
	.grim__item:first-child {
		grid-area: 30 / 1 / 33 / 5;
	}

	.grim__item:nth-child(2) {
		grid-area: 24 / 1 / 30 / 5;
	}

	.grim__item:nth-child(3) {
		grid-area: 15 / 1 / 24 / 11;
	}

	.grim__item:nth-child(4) {
		grid-area: 24 / 11 / 33 / 5;
	}

	.grim__item:nth-child(5) {
		grid-area: 15 / 11 / 33 / 19;
	}

	.grim__item:nth-child(6) {
		grid-area: 1 / 1 / 15 / 19;
	}

	.grim__item:nth-child(7) {
		grid-area: 1 / 19 / 33 / 33;
	}
}

.grim__item-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	box-shadow: 0 0 0 2px currentColor;
	background: currentColor;
}

.grim__item-bg--3 {
	color: #fcfdff;
}

.grim__item-bg--5 {
	color: black;
}

.grim__item-bg--6 {
	color: #a1b1ab;
}

.grim__item-bg--7 {
	color: #ddcfad;
}

.grim__item-bg--8 {
	color: #c8d0be;
}

.grim__item-bg--9 {
	color: #d6be9a;
}

.grim__item-bg--10 {
	color: #b5c1b3;
}

.grim__item-img {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 50% 100%;
	background-color: currentColor;
	filter: contrast(0.7) brightness(0.90);
}

.grim__item:hover:hover .grim__item-img {
	filter: brightness(1);
}

.grim__item:nth-child(-n+3) .grim__item-title {
	transform: rotate(0deg);
}

.grim__item:nth-child(-n+3) .grim__item-inner {
	height: auto;
}

.grim__item-img--1 {
	background-image: url("../img/1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grim__item-img--2 {
	background-image: url("../img/2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grim__item-img--3 {
	background-image: url("../img/3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grim__item-img--4 {
	background-image: url("../img/4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grim__item-img--5 {
	background-image: url("../img/5.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grim__item-content {
	position: relative;
	color: #000;
	overflow: hidden;
}

.grim__item-content:hover,
.grim__item-content:focus {
	opacity: 0.8;
	color: inherit;
	transition: opacity 0.3s;
}

.grim__item-inner {
	display: flex;
	height: 33vh;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	text-align: center;
	position: relative;
	opacity: 0;
	z-index: 1;
}

@media (orientation: landscape) {
	.grim__item-inner {
		height: auto;
	}
}

.grim__item-title {
	font-weight: normal;
	filter: drop-shadow(2px 2px 0px #333);
	color: white;
	margin: 0;
	font-size: 5vh;
	font-family: 'Cormorant Garamond', serif;
	z-index: 2;
	transform: rotate(-90deg);
}

@media (orientation: landscape),
(min-width: 768px) {
	.grim__item-title {
		transform: rotate(0deg);
		font-size: 2.5rem;
	}
}

@media (min-width: 1280px) {
	.grim__item-title {
		font-size: 3.5rem;
	}
}

/* .grim__item:nth-child(-n+6) .grim__item-title {
	font-size: 1.5vmax;
} */

.grim__item-desc {
	font-size: 1rem;
	color: white;
	margin: 4rem 0 0 0;
	filter: drop-shadow(2px 2px 0px #333);
	z-index: 2;
}

#gallery {
	margin: 1rem 0 0 0;
}


@media (min-width: 768px) {
	.grim__item-desc {
		margin: 2rem 0 2rem 0;
	}
}

@media (orientation: landscape) {
	.grim__item-desc {
		font-size: 2rem;
		margin: 0.5rem 0 0 0;
	}
}

@media (max-width: 1080px) {
	.grim__item-desc {
		font-size: 1.15rem;
	}
}

.grim__item-desc::after {
	content: '\2014';
	position: relative;
	display: block;
	font-size: 1rem;
}

span.grim__item-desc {
	font-family: 'Dancing Script', cursive;
}


/***************************Gallery****************************/

.tps-section {
  -webkit-perspective: 10em;
  -moz-perspective: 10em;
  -ms-perspective: 10em;
  -o-perspective: 10em;
  perspective: 10em;
  -webkit-perspective-origin: center bottom;
  -moz-perspective-origin: center bottom;
  -ms-perspective-origin: center bottom;
  -o-perspective-origin: center bottom;
  perspective-origin: center bottom;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.tps-wrapper {
  float: left;
  width: 100%;
  height: 100%;
}
.wrapper {
  height: auto !important;
  margin-top: 100px !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.pointer {
  color: #00b0ff;
  font-family: 'Pacifico';
  font-size: 24px;
  margin-top: 15px;
  position: absolute;
  top: 130px;
  right: -40px;
}
.pointer2 {
  color: #00b0ff;
  font-family: 'Pacifico';
  font-size: 24px;
  margin-top: 15px;
  position: absolute;
  top: 130px;
  left: -40px;
}
pre {
  margin: 80px auto;
}
pre code {
  padding: 35px;
  border-radius: 5px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.1);
  border: rgba(0, 0, 0, 0.05) 5px solid;
  max-width: 500px;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
.main h1 {
  padding: 45% 0 0 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: -1px;
  text-decoration: underline;
}
.reload.bell {
  font-size: 12px;
  padding: 20px;
  width: 45px;
  text-align: center;
  height: 47px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.reload.bell #notification {
  font-size: 25px;
  line-height: 140%;
}
.reload, .btn {
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: inline-block;
  line-height: 100%;
  padding: 0.7em;
  text-decoration: none;
  width: 100px;
  line-height: 140%;
  font-size: 17px;
  font-family: Open Sans;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -webkit-moz-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}
.reload:hover {
  background: #317af2;
}
.btn {
  width: 200px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}
.clear {
  width: auto;
}
.btn:hover, .btn:hover {
  background: #317af2;
}
.btns {
  float: left;
  width: 100%;
  margin: 50px auto;
}
.credit {
  text-align: center;
  color: #888;
  padding: 10px 10px;
  margin: 0 0 0 0;
  background: #f5f5f5;
  float: left;
  width: 100%;
}
.credit a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #f5f5f5;
  font-weight: bold;
  font-size: 13px;
  color: #888;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.back:hover {
  background: #eee;
}
.page-container {
  float: left;
  width: 100%;
  margin: 0 auto 300px;
  position: relative;
}
.panorama {
  width: 100%;
  float: left;
  margin-top: -5px;
  height: 700px;
}
.panorama .credit {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: right;
}
.main {
  margin-bottom: 350px;
  overflow: hidden;
}
.tps-section {
  width: 100% !important;
  /* max-width: 1000px; */
  margin: 0 auto;
  height: 85vh;
}
.tps-section .tps-wrapper {
  border-radius: 5px;
}
.tps-section .tps-wrapper h1 {
  position: relative;
  height: 100%;
  position: absolute;
}
.tps-section .tps-wrapper h1 a {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 65vh;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  left: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2.5rem;
  line-height: 75%;
}
.tps-section .tps-wrapper h1 a small {
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  font-family: noto serif;
  letter-spacing: 1px;
  font-size: 14px;
}

.tps-section:nth-child(1n+1) .tps-wrapper {
  background: url(../galeria/1.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(2n+1) .tps-wrapper {
  background: url(../galeria/2.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(3n+1) .tps-wrapper {
  background: url(../galeria/3.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(4n+1) .tps-wrapper {
  background: url(../galeria/4.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(5n+1) .tps-wrapper {
  background: url(../galeria/5.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(6n+1) .tps-wrapper {
  background: url(../galeria/6.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(7n+1) .tps-wrapper {
  background: url(../galeria/7.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(8n+1) .tps-wrapper {
  background: url(../galeria/8.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(9n+1) .tps-wrapper {
  background: url(../galeria/9.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(10n+1) .tps-wrapper {
  background: url(../galeria/10.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(11n+1) .tps-wrapper {
  background: url(../galeria/11.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(12n+1) .tps-wrapper {
  background: url(../galeria/12.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(13n+1) .tps-wrapper {
  background: url(../galeria/13.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(14n+1) .tps-wrapper {
  background: url(../galeria/14.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(15n+1) .tps-wrapper {
  background: url(../galeria/15.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(16n+1) .tps-wrapper {
  background: url(../galeria/16.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(17n+1) .tps-wrapper {
  background: url(../galeria/17.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(18n+1) .tps-wrapper {
  background: url(../galeria/18.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(19n+1) .tps-wrapper {
  background: url(../galeria/19.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(20n+1) .tps-wrapper {
  background: url(../galeria/20.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(21n+1) .tps-wrapper {
  background: url(../galeria/21.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(22n+1) .tps-wrapper {
  background: url(../galeria/22.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(23n+1) .tps-wrapper {
  background: url(../galeria/23.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(24n+1) .tps-wrapper {
  background: url(../galeria/24.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(25n+1) .tps-wrapper {
  background: url(../galeria/25.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(26n+1) .tps-wrapper {
  background: url(../galeria/26.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(27n+1) .tps-wrapper {
  background: url(../galeria/27.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(28n+1) .tps-wrapper {
  background: url(../galeria/28.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(29n+1) .tps-wrapper {
  background: url(../galeria/29.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(30n+1) .tps-wrapper {
  background: url(../galeria/30.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(31n+1) .tps-wrapper {
  background: url(../galeria/31.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(32n+1) .tps-wrapper {
  background: url(../galeria/32.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(33n+1) .tps-wrapper {
  background: url(../galeria/33.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(34n+1) .tps-wrapper {
  background: url(../galeria/34.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(35n+1) .tps-wrapper {
  background: url(../galeria/35.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(36n+1) .tps-wrapper {
  background: url(../galeria/36.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(37n+1) .tps-wrapper {
  background: url(../galeria/37.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(38n+1) .tps-wrapper {
  background: url(../galeria/38.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(39n+1) .tps-wrapper {
  background: url(../galeria/39.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(40n+1) .tps-wrapper {
  background: url(../galeria/40.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(41n+1) .tps-wrapper {
  background: url(../galeria/41.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(42n+1) .tps-wrapper {
  background: url(../galeria/42.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(43n+1) .tps-wrapper {
  background: url(../galeria/43.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(44n+1) .tps-wrapper {
  background: url(../galeria/44.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(45n+1) .tps-wrapper {
  background: url(../galeria/45.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(46n+1) .tps-wrapper {
  background: url(../galeria/46.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(47n+1) .tps-wrapper {
  background: url(../galeria/47.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(48n+1) .tps-wrapper {
  background: url(../galeria/48.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(49n+1) .tps-wrapper {
  background: url(../galeria/49.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(50n+1) .tps-wrapper {
  background: url(../galeria/50.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(51n+1) .tps-wrapper {
  background: url(../galeria/51.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(52n+1) .tps-wrapper {
  background: url(../galeria/52.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(53n+1) .tps-wrapper {
  background: url(../galeria/53.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(54n+1) .tps-wrapper {
  background: url(../galeria/54.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(55n+1) .tps-wrapper {
  background: url(../galeria/55.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(56n+1) .tps-wrapper {
  background: url(../galeria/56.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(57n+1) .tps-wrapper {
  background: url(../galeria/57.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(58n+1) .tps-wrapper {
  background: url(../galeria/58.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(59n+1) .tps-wrapper {
  background: url(../galeria/59.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(60n+1) .tps-wrapper {
  background: url(../galeria/60.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(61n+1) .tps-wrapper {
  background: url(../galeria/61.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(62n+1) .tps-wrapper {
  background: url(../galeria/62.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(63n+1) .tps-wrapper {
  background: url(../galeria/63.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(64n+1) .tps-wrapper {
  background: url(../galeria/64.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(65n+1) .tps-wrapper {
  background: url(../galeria/65.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(66n+1) .tps-wrapper {
  background: url(../galeria/66.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(67n+1) .tps-wrapper {
  background: url(../galeria/67.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(68n+1) .tps-wrapper {
  background: url(../galeria/68.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(69n+1) .tps-wrapper {
  background: url(../galeria/69.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(70n+1) .tps-wrapper {
  background: url(../galeria/70.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(71n+1) .tps-wrapper {
  background: url(../galeria/71.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(72n+1) .tps-wrapper {
  background: url(../galeria/72.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(73n+1) .tps-wrapper {
  background: url(../galeria/73.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(74n+1) .tps-wrapper {
  background: url(../galeria/74.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(75n+1) .tps-wrapper {
  background: url(../galeria/75.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(76n+1) .tps-wrapper {
  background: url(../galeria/76.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(77n+1) .tps-wrapper {
  background: url(../galeria/77.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(78n+1) .tps-wrapper {
  background: url(../galeria/78.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(79n+1) .tps-wrapper {
  background: url(../galeria/79.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(80n+1) .tps-wrapper {
  background: url(../galeria/80.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(81n+1) .tps-wrapper {
  background: url(../galeria/81.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(82n+1) .tps-wrapper {
  background: url(../galeria/82.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(83n+1) .tps-wrapper {
  background: url(../galeria/83.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(84n+1) .tps-wrapper {
  background: url(../galeria/84.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(85n+1) .tps-wrapper {
  background: url(../galeria/85.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(86n+1) .tps-wrapper {
  background: url(../galeria/86.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(87n+1) .tps-wrapper {
  background: url(../galeria/87.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(88n+1) .tps-wrapper {
  background: url(../galeria/88.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(89n+1) .tps-wrapper {
  background: url(../galeria/89.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(90n+1) .tps-wrapper {
  background: url(../galeria/90.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(91n+1) .tps-wrapper {
  background: url(../galeria/91.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(92n+1) .tps-wrapper {
  background: url(../galeria/92.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(93n+1) .tps-wrapper {
  background: url(../galeria/93.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(94n+1) .tps-wrapper {
  background: url(../galeria/94.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(95n+1) .tps-wrapper {
  background: url(../galeria/95.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(96n+1) .tps-wrapper {
  background: url(../galeria/96.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(97n+1) .tps-wrapper {
  background: url(../galeria/97.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(98n+1) .tps-wrapper {
  background: url(../galeria/98.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(99n+1) .tps-wrapper {
  background: url(../galeria/99.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(100n+1) .tps-wrapper {
  background: url(../galeria/100.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(101n+1) .tps-wrapper {
  background: url(../galeria/101.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(102n+1) .tps-wrapper {
  background: url(../galeria/102.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(103n+1) .tps-wrapper {
  background: url(../galeria/103.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(104n+1) .tps-wrapper {
  background: url(../galeria/104.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(105n+1) .tps-wrapper {
  background: url(../galeria/105.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(106n+1) .tps-wrapper {
  background: url(../galeria/106.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(107n+1) .tps-wrapper {
  background: url(../galeria/107.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(108n+1) .tps-wrapper {
  background: url(../galeria/108.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(109n+1) .tps-wrapper {
  background: url(../galeria/109.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(110n+1) .tps-wrapper {
  background: url(../galeria/110.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(111n+1) .tps-wrapper {
  background: url(../galeria/111.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(112n+1) .tps-wrapper {
  background: url(../galeria/112.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(113n+1) .tps-wrapper {
  background: url(../galeria/113.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(114n+1) .tps-wrapper {
  background: url(../galeria/114.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(115n+1) .tps-wrapper {
  background: url(../galeria/115.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(116n+1) .tps-wrapper {
  background: url(../galeria/116.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(117n+1) .tps-wrapper {
  background: url(../galeria/117.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(118n+1) .tps-wrapper {
  background: url(../galeria/118.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(119n+1) .tps-wrapper {
  background: url(../galeria/119.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(120n+1) .tps-wrapper {
  background: url(../galeria/120.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(121n+1) .tps-wrapper {
  background: url(../galeria/121.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(122n+1) .tps-wrapper {
  background: url(../galeria/122.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(123n+1) .tps-wrapper {
  background: url(../galeria/123.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(124n+1) .tps-wrapper {
  background: url(../galeria/124.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(125n+1) .tps-wrapper {
  background: url(../galeria/125.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(126n+1) .tps-wrapper {
  background: url(../galeria/126.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(127n+1) .tps-wrapper {
  background: url(../galeria/127.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(128n+1) .tps-wrapper {
  background: url(../galeria/128.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(129n+1) .tps-wrapper {
  background: url(../galeria/129.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(130n+1) .tps-wrapper {
  background: url(../galeria/130.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(131n+1) .tps-wrapper {
  background: url(../galeria/131.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(132n+1) .tps-wrapper {
  background: url(../galeria/132.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(133n+1) .tps-wrapper {
  background: url(../galeria/133.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(134n+1) .tps-wrapper {
  background: url(../galeria/134.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(135n+1) .tps-wrapper {
  background: url(../galeria/135.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(136n+1) .tps-wrapper {
  background: url(../galeria/136.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(137n+1) .tps-wrapper {
  background: url(../galeria/137.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(138n+1) .tps-wrapper {
  background: url(../galeria/138.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(139n+1) .tps-wrapper {
  background: url(../galeria/139.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(140n+1) .tps-wrapper {
  background: url(../galeria/140.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(141n+1) .tps-wrapper {
  background: url(../galeria/141.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(142n+1) .tps-wrapper {
  background: url(../galeria/142.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(143n+1) .tps-wrapper {
  background: url(../galeria/143.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(144n+1) .tps-wrapper {
  background: url(../galeria/144.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(145n+1) .tps-wrapper {
  background: url(../galeria/145.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(146n+1) .tps-wrapper {
  background: url(../galeria/146.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(147n+1) .tps-wrapper {
  background: url(../galeria/147.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(148n+1) .tps-wrapper {
  background: url(../galeria/148.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(149n+1) .tps-wrapper {
  background: url(../galeria/149.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tps-section:nth-child(150n+1) .tps-wrapper {
  background: url(../galeria/150.webp) center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  overflow: hidden;
  clear: both;
}
