@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Playfair+Display');

.wedpage {
	font-family: 'Josefin Sans', sans-serif;
	--color-text: #000;
	--color-bg: #9c9c9c;
	--color-link: #8958b1;
	--color-link-hover: #fff;
	--color-info: #000;
}

.menu-trigger {
	position: relative;
	margin-bottom: 50px;
	margin-left: -20px;
	padding: 0 15px;
	background: none;
	color: #fff;
	background-color: #000;
	border-radius: 25px;
	border: 0;
	grid-area: menu;
	justify-self: start;
	align-self: end;
	cursor: pointer;
	pointer-events: auto;
	font-size: 3rem;
	filter: drop-shadow(5px 5px 5px black);
}

@media (max-width: 1080px) {
	.menu-trigger {
		transform: rotate(90deg);
	}
}

.menu-trigger--close {
	font-size: 1.5rem;
	color: #000;
	align-self: center;
	background: none;
	border: 0;
	grid-area: menu;
	/* justify-self: start; */
	/* align-self: end; */
	cursor: pointer;
	pointer-events: auto;
	filter: drop-shadow(5px 5px 5px black);
}

.content--switch {
	background-size: cover;
}

#content-1 {
	background-color: beige;
}

#home_button {
	font-size: 3rem;
}

#video-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content__title {
	color: white;
	font-size: 3rem;
	text-align: center;
	z-index: 1;
}

.content__subtitle {
	color: white;
	width: 70%;
	max-width: 500px;
	z-index: 1;
	font-size: 1.25rem;
	line-height: 1.5;
	text-align: center;
}

#content-2 {
	background-image: url(../img/bg1.jpg);
	background-position: 45%;
	background-repeat: no-repeat;
	background-size: cover;
}

#content-2::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#content-3 {
	background-image: url(../img/bg2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#content-3::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

@media (orientation: portrait) {
	#content-3.content {
		justify-content: flex-start;
	}
}

.form {
	width: 100%;
	height: auto;	
	min-height: 700px;
	max-width: 640px;
	margin-top: 30px;
	z-index: 1;
}



#content-4 {
	background-image: url(../img/bg3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#content-4::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#content-5 {
	background-image: url(../img/bg4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#content-5::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.map {
	min-width: 250px;
	border-radius: 25px;
	box-shadow: 10px 10px 10px black;
	background-color: white;
	color: green;
	font-size: 1.25rem;
	padding: 7.5px;
}

.map:hover {
	color: #000;
}

#content-6 {
	overflow: hidden;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#content-6 img {
	height: auto;
	height: 100vh;
	/* width: 100vw; */
	position: absolute;
	transition: opacity 1s ease-in-out;
	animation-name: opacity;
	animation-duration: 4s;
}

#brightness_photo {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	filter: opacity(0.5);
	z-index: 1;
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.content-6_title {
	padding: 0 0 0 50vw !important;
}

@media (orientation: landscape) {
	.content-6_title {
		padding: 0 1rem !important;
	}
}

#abus {
	max-height: 35vh;
	overflow-x: hidden;
}

#abus::-webkit-scrollbar {
	width: 5px;
}

#abus::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}

#abus::-webkit-scrollbar-thumb {
	background: white; 
	border-radius: 10px;
  }

#abus::-webkit-scrollbar-thumb:hover {
	background: #aaa; 
}
  
.abus_text {
	transition: opacity 2s;
}

#hide {
	position: relative;
	height: 50px;
	width: 100px;
	margin: 25px auto;
	background-image: url("../img/eye2.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	z-index: 1;
}

#show {
	display: none;
	position: relative;
	height: 50px;
	width: 100px;
	margin: 25px auto;
	background-image: url("../img/eye.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	z-index: 1;
}

.grim {
	display: grid;
	position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	grid-template-columns: repeat(32, 3.125vw);
	grid-template-rows: repeat(32, 3.125vh);
	pointer-events: none;
}

.grim--open {
	pointer-events: auto;
}

.grim__item {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grim__item:first-child {
	grid-area: 30 / 1 / 33 / 11;
}

.grim__item:nth-child(2) {
	grid-area: 27 / 1 / 30 / 11;
}

.grim__item:nth-child(3) {
	grid-area: 27 / 11 / 33 / 33;
}

.grim__item:nth-child(4) {
	grid-area: 16 / 1 / 27 / 11;
}

.grim__item:nth-child(5) {
	grid-area: 16 / 11 / 27 / 22;
}

.grim__item:nth-child(6) {
	grid-area: 16 / 22 / 27 / 33;
}

.grim__item:nth-child(7) {
	grid-area: 1 / 1 / 16 / 33;
}

@media (orientation: landscape) {
	.grim__item:first-child {
		grid-area: 30 / 1 / 33 / 5;
	}
	
	.grim__item:nth-child(2) {
		grid-area: 24 / 1 / 30 / 5;
	}
	
	.grim__item:nth-child(3) {
		grid-area: 15 / 1 / 24 / 11;
	}
	
	.grim__item:nth-child(4) {
		grid-area: 24 / 11 / 33 / 5;
	}
	
	.grim__item:nth-child(5) {
		grid-area: 15 / 11 / 33 / 19;
	}
	
	.grim__item:nth-child(6) {
		grid-area: 1 / 1 / 15 / 19;
	}
	
	.grim__item:nth-child(7) {
		grid-area: 1 / 19 / 33 / 33;
	}
}

.grim__item-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	box-shadow: 0 0 0 2px currentColor;
	background: currentColor;
}

.grim__item-bg--3 {
	color: #fcfdff;
}

.grim__item-bg--5 {
	color: #000;
}

.grim__item-bg--6 {
	color:#9586b8;
}

.grim__item-bg--7 {
	color:rgb(231, 231, 180);
}

.grim__item-bg--8 {
	color:rgb(155, 203, 173);
}

.grim__item-bg--9 {
	color:darkgoldenrod;
}

.grim__item-bg--10 {
	color: rgb(164, 88, 88);
}

.grim__item-img {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 50% 100%;
	background-color: currentColor;
	filter: brightness(0.5);
}

.grim__item:hover:hover .grim__item-img {
	filter: brightness(1);
}

.grim__item:nth-child(-n+3) .grim__item-title {
	transform: rotate(0deg);
}

.grim__item:nth-child(-n+3) .grim__item-inner {
	height: auto;
}

.grim__item:nth-child(-n+3) .grim__item-desc {
	margin: 1rem 0 0 0;;
}

.grim__item-img--1 {
	background-image: url("../img/1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grim__item-img--2 {
	background-image: url("../img/2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grim__item-img--3 {
	background-image: url("../img/3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grim__item-img--4 {
	background-image: url("../img/4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grim__item-img--5 {
	background-image: url("../img/5.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grim__item-content {
	position: relative;
	color: #000;
	overflow: hidden;
}

.grim__item-content:hover,
.grim__item-content:focus {
	opacity: 0.8;
	color: inherit;
	transition: opacity 0.3s;
}

.grim__item-inner {
	padding-bottom: 2rem;
	display: flex;
	height: 33vh;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	text-align: center;
	position: relative;
	opacity: 0;
	z-index: 1;
}

@media (orientation: landscape) {
	.grim__item-inner {
		height: auto;
		padding-bottom: 0;
	}
}

.grim__item-title {
	font-weight: normal;
	filter: drop-shadow(7px 7px 0px #333);
	color: white;
	margin: 0;
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
	z-index: 2;
	transform: rotate(-90deg); 
}

@media (orientation: landscape) {
	.grim__item-title {
		transform: rotate(0deg);
	}
}

@media (min-width: 1280px) {
	.grim__item-title {
		font-size: 3.5rem;
	}
}

/* .grim__item:nth-child(-n+6) .grim__item-title {
	font-size: 1.5vmax;
} */

.grim__item-desc {
	font-size: 1rem;
	color: beige;
	margin: 4rem 0 0 0;
	z-index: 2;
}

@media (orientation: landscape) {
	.grim__item-desc {
		font-size: 1.5rem;
		margin: 0.5rem 0 0 0;
	}
}

@media (max-width: 1080px) {
	.grim__item-desc {
		font-size: 1rem;
	}	
}

.grim__item-desc::after {
	content: '\2014';
	position: relative;
	display: block;
	font-size: 1rem;
}